---
import Image from "astro/components/Image.astro";

---

<div class="fixed bottom-4 right-4">
    <a href="https://wa.me/3012256811" class="cursor-pointer">
        <Image 
            src="/assets/logoWhatsapp.svg" 
            alt="icono para comunicacion al whatsapp" 
            loading="eager" 
            width={60} 
            height={60}
        />
    </a>
</div>