---
const { src, alt } = Astro.props;
import Image from "astro/components/Image.astro";
---

<section class="h-screen flex items-center justify-center">
  <Image src={src} alt={alt} class="w-auto max-h-full rounded-lg shadow-lg" loading="eager"/>
</section>
