<div class="w-screen h-screen bg-azulPetroleo justify-between flex items-center">
    <div class="bg-white w-96 h-96">imagen</div>
    <div class="w-1/2 flex gap-28 flex-col">
        <h2 class="text-7xl text font-extrabold flex flex-col items-center text-grisOscuro">Servicio dentro y fuera de <span class="text-yellow"> Bogotá</span></h2> 
        <p class="text-5xl text-grisClaro">Fabricamos ventanas, portones electricos, marquesinas, puertas de seguridad, estructura liviana y pesada y todo lo relacionado con la rama </p>
    </div>
</div>