<div class="w-screen h-screen bg-azulPetroleo justify-between flex items-center">
    <div class="bg-white w-96 h-96">imagen</div>
    <div class="text-4xl w-1/2 flex gap-28 flex-col">
        <h2 class="text-6xl text font-extrabold w-17">Servicio dentro y fuera de <span class="text-yellow flex "> Bogotá</span></h2> 
        <p class="text-4xl">Fabricamos ventanas, portones electricos, marquesinas, puertas de seguridad, estructura liviana y pesada y todo lo relacionado con la rama </p>
    </div>
</div><!--  -->