.hero-title{
    text-shadow: 3px 2px 10px rgb(0, 0, 0);
}

.hero-container {
    position: relative;
    height: 900px;
    overflow: hidden;
}
  
.hero-text {
    position: absolute;
    top: 25%;
    left: 10%;
  }

.hero-title{
    transform: translateY(90%);
    transition: all 1.2s ease-in-out, opacity 2s ease;
    opacity: 0; 
}

.container-sub-title{
    transition: opacity 3s ease;
    opacity: 0; 
}

.hero-title.show{
    transform: translateX(0);
    opacity: 1;
}

.show-subtitles{
    opacity: 1;
}

.hero-container img {
    width: 80%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    mask-image: radial-gradient(circle, black 90%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, black 10%, transparent 95%);
    opacity: 70% ;
    margin-left: auto;
}
