---
import "./about.css";
---
<section id="nosotros"
    class="w-full h-auto flex flex-col items-center overflow-hidden justify-center py-20"
    aria-labelledby="titleAboutUs"
>
    <h1 id="titleAboutUs" class="text-grisClaro font-sans text-[96px] font-extrabold">
        Quiénes <span class="text-yellow">Somos</span>
    </h1>
    <p id="textAbout" class="w-4/6 text-grisClaro text-[40px] font-bold text-center">
        En <strong>Maestría del Hierro</strong>, contamos con más de 30 años de experiencia perfeccionando la ornamentación y soldadura. 
        Combinamos tradición, innovación y excelencia para ofrecer soluciones personalizadas y duraderas que superan expectativas.
    </p>    
</section>

<script>
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            document.getElementById("titleAboutUs").classList.toggle("title-is-visible", entry.isIntersecting);
            document.getElementById("textAbout").classList.toggle("text-is-visible", entry.isIntersecting);
        });
    }, { threshold: 0.40 });

    observer.observe(document.getElementById("nosotros"));
</script>
