---
import "./about.css";
---

<section id="About-us"
    class="w-full h-[400px] about flex flex-col items-center py-16 overflow-hidden justify-center">
        <h2 class="text-yellow text-7xl font-bold title-about">
            <span class="text-yellow">N</span>osotros</h2>
        <p class="w-4/6 text-grisClaro text-2xl text-about font-bold text-center "> 
            En Maestría del Hierro, llevamos más de 30 años de experiencia perfeccionando
            el arte de la ornamentación y la soldadura en todas sus formas.
            Somos una empresa que combina tradición, innovación y excelencia,
            ofreciendo soluciones personalizadas y duraderas que superan las
            expectativas de nuestros clientes.
        </p>    
</section>