---
import "./about.css";
---
<div id="About-us"
    class="w-full h-[700px] about flex flex-col items-center overflow-hidden justify-center">
        <h2 class="text-grisClaro text-7xl font-bold title-about">
            Quienes <span class="text-yellow">Somos</span></h2>
        <p class="w-4/6 text-grisClaro text-3xl text-about font-bold text-center "> 
            En Maestría del Hierro, llevamos más de 30 años de experiencia perfeccionando
            el arte de la ornamentación y la soldadura en todas sus formas.
            Somos una empresa que combina tradición, innovación y excelencia,
            ofreciendo soluciones personalizadas y duraderas que superan las
            expectativas de nuestros clientes.
        </p>    
</div>