---
import "./about.css";
---
<div id="nosotros"
    class="w-full h-auto about flex flex-col items-center overflow-hidden justify-center py-28">
        <h2 id="titleAboutUs" class="text-grisClaro text-7xl font-bold title-about">
            Quienes <span class="text-yellow">Somos</span></h2>
        <p id="textAbout" class="w-4/6 text-grisClaro text-3xl text-about font-bold text-center "> 
            En Maestría del Hierro, llevamos más de 30 años de experiencia perfeccionando
            el arte de la ornamentación y la soldadura en todas sus formas.
            Somos una empresa que combina tradición, innovación y excelencia,
            ofreciendo soluciones personalizadas y duraderas que superan las
            expectativas de nuestros clientes.
        </p>    
</div>

<script>
    const titleAbout = document.getElementById("titleAboutUs");
    const text = document.getElementById("textAbout");
    const about = document.getElementById("nosotros");
    
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.intersectionRatio >= 0.40) {
                titleAbout?.classList.add("title-is-visible");
                text?.classList.add("text-is-visible");
            } else {
                titleAbout?.classList.remove("title-is-visible");
                text?.classList.remove("text-is-visible");
            }
        });
    }, {
        threshold: 0.40,
    });

    observer.observe(about)

    window.addEventListener("hashchange", () => {
        observer.observe(about);
    });
</script>