---
import "./visit.css"
---
<section class="bg-grisOscuro flex justify-center flex-col items-center pt-16">
    <h2 class="text-7xl font-bold text-yellow title-visit-us"
    >Visitanos Nuestras Instalaciones</h2>
    <div class="flex flex-wrap w-2/3 h-auto p-8 text-3xl mt-16">
        <div class="w-1/2 flex items-center justify-center py-4">
            <h3>Calle No. 132 - 63</h3>
        </div>
        <div class="w-1/2 flex items-center justify-center py-4">
            <h3>Celular: 3012256811</h3>
        </div>
        <div class="w-1/2 flex items-center justify-center py-4">
            <h3>Correo: soldanet222@gmail.com</h3>
        </div>
        <div class="w-1/2 flex items-center justify-center py-4">
            <h3>Correo: maestriadelhierro@gmail.com</h3>
        </div>
      </div>
      
</section>