<section id="contacto" class="bg-grayBackground flex flex-col items-center px-4 py-12 md:pt-24 gap-6 md:gap-10">
    <h2 class="text-4xl md:text-6xl xl:text-[64px] font-extrabold text-yellow text-center font-robotoSlab tracking-wide md:tracking-[10px] leading-tight">
        Visitanos en<br class="md:hidden"> maestr칤a del hierro
    </h2>
    
    <article class="w-full md:w-4/5 flex flex-col md:flex-row justify-between gap-8 md:gap-0 text-lg md:text-2xl xl:text-[36px] text-black font-sans items-center">
        <div class="flex flex-col gap-4 md:gap-12">
            <address class="flex items-center gap-2">
                <span>游늸</span>
                <span>Carrera 131 No. 132 - 63</span>
            </address>
            <div class="flex items-center gap-2">
                <span>游</span>
                <span>Celular: 3012256811</span>
            </div>
        </div>
        
        <div class="flex flex-col gap-4 md:gap-12 mt-4 md:mt-0">
            <div class="flex items-center gap-2">
                <span>九괦잺</span>
                <span>soldanet222@gmail.com</span>
            </div>
            <div class="flex items-center gap-2">
                <span>九괦잺</span>
                <span>maestriadelhierro@gmail.com</span>
            </div>
        </div>
    </article>

    <div class="w-full md:w-5/6 py-4 md:py-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.0411471273463!2d-74.11512783037367!3d4.741444636217607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8485c8bc7ae9%3A0xf2a3df02a0c02be2!2sCra.%20131%20%23132-75%20a%20132-35%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1738008860454!5m2!1ses-419!2sco"
            class="w-full h-[50vh] md:h-[500px] rounded-md"
            loading="lazy"
            title="Ubicaci칩n de Maestr칤a del Hierro, Bogot치"
            aria-label="Mapa de la ubicaci칩n de Maestr칤a del Hierro en Bogot치, Colombia"
        >
        </iframe>
    </div>
</section>