.maestria{
  opacity: 0;
  transition: opacity 2s ease;
}

.show-maestria{
  opacity: 1;
}

.nav-links{
  opacity: 0;
  transition: opacity 2s ease;
}

.show-links{
  opacity: 1;
}

.title{
    text-decoration: underline #FC9B3C 1px;
    text-underline-offset: 6px;
    letter-spacing: 3px;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    text-shadow: 1px 2px 5px rgb(22, 22, 22);
    color: rgb(182, 178, 178);
  }
  
  .nav-link:hover {
    color: #fcaf3c;
  }