<div class="bg-slate-600">
    <div class="w-[820px] py-96">
        <h1>nombre</h1>
        <p>askldjkklsjdlaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaalllllllkalkakakkakakakakakakkkkkkkkkkkkkkkkkkkkkkkkkkkkkkwowooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooood[pkiejkiodkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkko]</p>
    </div>
</div>