<footer class="bg-azulPetroleo text-white font-robotoSlab font-light  flex flex-col items-center">
    <address class="w-4/5 flex justify-between text-[18px] py-8 tracking-[4px] not-italic">
        <div>
            <p><strong>NIT:</strong> 09209302-193</p>
            <p><a href="mailto:nelsonurr222@gmail.com" class="hover:underline">nelsonurr222@gmail.com</a></p>
        </div>
        <div>
            <p><a href="tel:+573219874567" class="hover:underline">3012256811</a></p>
        </div>
        <div>
            <p>Carrera 131 No. 132-63</p>
            <p><strong>Maestría del Hierro</strong></p>
        </div>
    </address>
    <p class="py-8 mb-2 tracking-[1px] text-[12px]">
        Hecho con 💖 por 
        <a href="mailto:devisa.coder@gmail.com" class="hover:underline">devisa.coder@gmail.com</a> y 
        <a href="mailto:jhonnathan.dev@gmail.com" class="hover:underline">jhonnathan.dev@gmail.com</a>
    </p>
</footer>
