<footer class="bg-azulPetroleo text-white font-robotoSlab font-light flex flex-col items-center">
    <address class="w-full sm:w-4/5 flex flex-col md:flex-row justify-between text-[16px] md:text-[18px] p-4 md:py-16 tracking-[2px] md:tracking-[4px] not-italic">
      <div class="mb-4 md:mb-0">
        <p><strong>NIT:</strong> 09209302-193</p>
        <p><a href="mailto:nelsonurr222@gmail.com" class="hover:underline">nelsonurr222@gmail.com</a></p>
      </div>
      <div class="mb-4 md:mb-0">
        <p><a href="tel:+573219874567" class="hover:underline">321 987 4567</a></p>
        <p><a href="tel:+573128736458" class="hover:underline">312 873 6458</a></p>
      </div>
      <div>
        <p>Av. Américas con 142</p>
        <p><strong>Maestría del Hierro</strong></p>
      </div>
    </address>
    <p class="pt-8 tracking-[1px] text-[12px]">
      Hecho con 💖 por 
      <a href="mailto:devisa.coder@gmail.com" class="hover:underline">devisa.coder@gmail.com</a> y 
      <a href="mailto:jhonnathan.dev@gmail.com" class="hover:underline">jhonnathan.dev@gmail.com</a>
    </p>
  </footer>
  