<footer class="bg-azulPetroleo shadow-footer text-white font-robotoSlab font-light flex flex-col items-center px-4">
        <div class="flex gap-x-16 py-4 mt-5">
            <strong class="whitespace-nowrap">NIT:&nbsp; 79209755-9</strong><p><strong>Maestría del Hierro</strong></p>
        </div>
    <p class="md:py-8 text-xs md:text-xs text-center tracking-normal md:tracking-[1px]">
        Hecho con amor por 
        <a href="mailto:devisa.coder@gmail.com" 
           class="hover:underline break-all md:break-normal">
           devisa.coder@gmail.com
        </a> y 
        <a href="mailto:jhonnathan.dev@gmail.com" 
           class="hover:underline break-all md:break-normal">
           jhonnathan.dev@gmail.com
        </a>
        💖
    </p>
</footer>