<footer class="bg-azulPetroleo text-white font-robotoSlab font-light  flex flex-col items-center">
    <address class="w-4/5 flex justify-between text-[18px] p-4 py-16 tracking-[4px] not-italic">
        <div>
            <p><strong>NIT:</strong> 09209302-193</p>
            <p><a href="mailto:nelsonurr222@gmail.com" class="hover:underline">nelsonurr222@gmail.com</a></p>
        </div>
        <div>
            <p><a href="tel:+573219874567" class="hover:underline">321 987 4567</a></p>
            <p><a href="tel:+573128736458" class="hover:underline">312 873 6458</a></p>
        </div>
        <div>
            <p>Av. Américas con 142</p>
            <p><strong>Maestría del Hierro</strong></p>
        </div>
    </address>
    <p class="pt-8 tracking-[1px] text-[12px]">
        Hecho con 💖 por 
        <a href="mailto:devisa.coder@gmail.com" class="hover:underline">devisa.coder@gmail.com</a> y 
        <a href="mailto:jhonnathan.dev@gmail.com" class="hover:underline">jhonnathan.dev@gmail.com</a>
    </p>
</footer>
