---
import "../styles/global.css";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import LinkWhatsapp from "../components/linkWhatsapp/LinkWhatsapp.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width"/>
	<link rel="shortcut icon" href="/assets/logo.ico?=2"/>
	<meta name="generator" content={Astro.generator} />
	<title>Maestría del Hierro</title>
</head>
<body>
	<Header />
	<slot /> <!-- Aquí se inyectará el contenido de cada página -->
	<Footer />
	<LinkWhatsapp />
</body>
</html>


<style>
	html,
	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		scroll-behavior: smooth;
		::-webkit-scrollbar {
  			width: 10px;
		}

		::-webkit-scrollbar-track {
  			background: rgb(41, 39, 39);
  			backdrop-filter: blur(10px);

		}

		::-webkit-scrollbar-thumb {
  			background: rgba(223, 128, 5, 0.8);
  			border-radius: 10px;
  			border: 2px solid rgb(54, 52, 52);
		}
	}
</style>
